@use '../base/variables' as v;
@use '../base/mixsins' as m;

@include m.max-desktopXL{    
    //Inicio
    img{
        width: 15vh;
        height: 15vh;
    }
    .imagen1{
        display: none;
        
    }

    .first-part{
        height: 35vh;
        
    }

    // Sobre mi

    .sobre-mi-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;


    }
    .sobre-mi__contenedor1{
        margin: 1rem;
        img{
            margin: 0 auto;
        }
    }

    .sobre-mi__title{
        margin-top: 15rem;
    }


    .sobre-mi__title2 {
        font-size: 3rem;
        font-weight: 500;
    }

    .sobre-mi__text{
        font-size: 1.5rem;

    }


    //Proyectos
    .title-web, 
    .title-python{
        h1{
            font-size: 2.5rem;
            
        }
    }
    

    .proyects-web ,
    .proyects-python{
        margin: 10rem;
        @include m.grid(1, 15rem);
        margin: 0 auto;
        margin-top: 15rem;
    }

    .proyecto-1,
    .proyecto-python{
        width: 45vh;
        height: 70vh;
    }

    .proyects-python{
        margin-top: 15rem;
    }

    .title-python{
        position: relative;
        top: 5rem;
    }






    //Certificados
    .certificates-div{
            flex-direction: column;
        }
        .title-certificates{
            h1{
                font-size: 3rem;
            }
        }
        .certificates-container{
            img{
                width: 30vh;
                height: 15vh;
            }
        }
        @media (max-width: 1500px) {


            .title-certificates{
                h1{
                    font-size: 3.3rem;
                }
            }
    
            .certificates-div{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
    
    
            .certificates-container{
                img{
                    width: 45vh;
                    height: 30vh;
                }
            }
        }
    
    @media (max-width: 1500px) {
    
    
        .title-certificates{
            h1{
                font-size: 3.3rem;
            }
        }
    
        .certificates-div{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
    
        .certificates-container{
            img{
                width: 45vh;
                height: 30vh;
            }
        }
    }
    
    
    @media screen and (max-width: 1300px) {
        #lightbox img {
            height: 40vh !important;
            width: 70vh !important;
        }
        
    }
    
    @media screen and (max-width: 900px) {
        #lightbox img {
            height: 40vh !important;
            width: 60vh !important;
        }   
    }
    
    @media screen and (max-width: 700px) {
        #lightbox img {
            height: 25vh !important;
            width: 30vh !important;
        }
        
    }


    //Contacto


    .contact-container.special {
        width: 40rem; 
        height: 32rem;
    }    
}
 

    //Skills


@include m.max-tablet{
    .skills-container.special{
        width: 80%;
        gap: 3rem;
        img{
            width: 6vh;
            height: 6vh;
        }
    }
    .title-skills.special{
        h1{
            font-size: 3.3rem;
            margin-top: 2.5rem;
        }
        h2{
            font-size: 2rem;
            
        }
        h3{
            font-size: 1.8rem;
            
        }
    }

}

//Contacto
@include m.max-tablet{
    .contact-container.special {
        width: 30rem;
        height: 32rem;
        h2{
            font-size: 1.8rem;
        }
        h3{
            font-size: 1.5rem;
        }
    }

    .contact-h3.special{
        h2{
            font-size: 1.2rem;
        }
    }

    .proyecto-1.special{
        width: 35vh;
        height: 70vh;
    }
    .footer-container.special{
        p{
            font-size: 1.5rem;
        }
    }
}


//Slider
@include m.max-tablet{

    .title-skills.special{
        margin-top: 5rem;
    }
    .slide.special{
        height: 100px;
        width: 150px;
        img{
            height: 7vh;
            width: 7vh;
        }
    }

}

@include m.max-desktopXL{
    .title-skills.special{
        margin-top: 5rem;
    }
} 