@use '../base/variables' as v;
@use '../base/mixsins' as m;

.sobre-mi-content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    .sobre-mi__contenedor2{
        transition: 0.5s;
        width: 50%;
        text-align: center;
        box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
        padding: 1.1rem 0;
        border-radius: 0.5rem;
        p{
            transition: 0.5s;
        }
    }
}

.sobre-mi__contenedor_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    .sobre-mi__title{
        color: v.$azul;
        font-size: 3.3rem;
        font-weight: 500;
    }
    ::after{
        content: '';
        display: block;
        width: 50%;
        height: 3px;
        background-color: v.$azul;
        margin: auto;
        
    }
}

.imagen2{
    border-radius: 50%;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    object-fit: cover;
    margin-right: 5rem;
    transition: transform 0.2s ease-out;
}

.second-part:hover .imagen2 {
    transition: none; /* Elimina la transición para movimientos en vivo */
}