//colores

$verde : #4CB8B3;
$rosa : #F53756;
$amarillo : #fdc21c;
$morado : #752F97;
$negro : #000000;
$gris-oscuro : #333;
$blanco : #FFFFFF;
$gris : #e1e1e1;
$azul : #0D6EFD;

//tipografia 
$fuente_principal :"Poppins", sans-serif;


